.best_top{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    
}
.best_box{
  
    padding-top: 70px;

}
.main_title{
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 48px;
letter-spacing: 0.04em;

color: #000000;

flex: none;
order: 1;
flex-grow: 0;
}
.view_all{
    display: flex;
justify-content: center;
align-items: center;
padding: 16px 0;
border: none;
width: 159px;
height: 56px;
background: #DB4444;
border-radius: 4px;
flex: none;
order: 1;
flex-grow: 0;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #FAFAFA;

}