.person_card{
    margin: 0 auto;
    width: 370px;

}
.person_top{
    width: 370px;
height: 430px;
background: #F5F5F5;
border-radius: 4px;
background-repeat: no-repeat;
background-position: center;
}

.per_bg1{
    background-image: url(../../assets/images/person1.png);
}
.per_bg2{
    background-image: url(../../assets/images/person2.png);
}
.per_bg3{
    background-image: url(../../assets/images/person3.png);
}

.person_body
{
h4{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 30px;
    
    letter-spacing: 0.04em;
    margin-top: 32px;
    margin-bottom: 8px;
}
p{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #000000;
margin-bottom: 20px;
}
.media_person{
    display: flex;
    align-items: center;
    column-gap: 15px;
    img{
        fill: #000000 !important; 
    }
}

}
.add_person{
// padding-bottom: 30px !important;
    margin-bottom: 100px !important;
}